/* a.active {background-color: #D8D8F5;} */
table.bordered-table th,td {border: 2px solid black; padding: 10px;width: 460px;}
table.bordered-table {border-collapse:collapse; text-align: left;}

#deletebutton {width: 20%;
    margin: 5px 0;
    padding: 5px 0;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;}

#editlink {width: 20%;
    margin: 5px 0;
    padding: 5px 0;
    background-color: white;
    font-size: 20px;
    cursor: pointer;}



.form-container{
    width: 100%;
    display:flex;
    padding-bottom: 15px;
}

.form-col{
    width: 50%;
    font-size: 20px;
}

p {font-weight: bold; font-size: 20px;}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;  
    font-size: medium; 
}
select{
    font-size: 20px;
    width: 55%;
    margin: 14px 0;
}

button{
    width: 20%;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}